body[einu-flow="com.einutech.eem"][einu-theme="dark"] {
  einu-app {
    form.einu-form {
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.05);
      border-radius: 3px;
      background-color: #1D2429;
      padding: 30px;
      z-index: 3;
      width: 100%;
      max-width: 768px;
      margin: 0 auto;

      .file-input > input[type="file"] {
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;

        &:hover {
          cursor: pointer;
        }
      }

      einu-footer {
        color: #87909c;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0;
        margin-top: 10px;
        padding: 0;
      }

      einu-heading[size="1"] {
        color: #87909c;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        background-color: #1D2429;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 45px;
        margin-bottom: 10px!important;

        &:first-of-type {
          margin-top: 0;
        }

        a.alternative {
          position: absolute;
          bottom: 15px;
          cursor: pointer;
          font-size: 18px;

          @media (min-width: 768px) { font-size: 11px; }

          span {
            display: none;

            @media (min-width: 768px) { display: inline; }
          }

          &.left {
            left: 0;
          }

          &.right {
            right: 0;
          }
        }
      }

      einu-control-group {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
        overflow: hidden;

        &.footer {
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          padding-top: 15px;

          einu-textblock {
            font-size: 11px;
            font-weight: 400;
          }
        }

        einu-textblock {
          display: block;
        }

        einu-textblock, einu-list {
          color: #87909c;
          font-size: 14px;
          line-height: 16px;
        }

        einu-col {
          padding: 7.5px;
          padding-top: 0;
          padding-bottom: 0;

          &[size~="M12"] {
            padding: 0;
            margin-top: 18px;

            @media (min-width: 768px) { padding: 0 7.5px; margin-top: 0; }

            &:first-of-type {
              margin-top: 0;

              @media (min-width: 768px) { margin-top: 0; }
            }
          }

          &:first-of-type {
            padding-left: 0;
            padding-right: 7.5px !important;
          }

          &:last-of-type {
            padding-right: 0;
          }
        }

        span.error {
          color: $color-red;
          float: right;
        }

        &.checkpoint {
          text-align: center;
        }

        & + einu-control-group {
          margin-top: 18px;
        }

        einu-block.markdown {
          padding: 10px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          color: #87909c;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 1px;
          outline: none;
          resize: none;
          width: 100%;
          background: transparent;
          font-family: Whitney;
          border-radius: 3px;
          min-height: 36px;
          background-color: #fafafa;
        }

        textarea {
          line-height: 34px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          color: #87909c;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 1px;
          outline: none;
          resize: none;
          width: 100%;
          font-family: Whitney;
          border-radius: 3px;
          padding: 0 10px;
          background-color: #202D32;

          &:disabled {
            background: transparent;
          }

          &::-webkit-input-placeholder {
            color: hsla(0, 0%, 100%, .4);
          }

          &:focus {
            border-bottom: 2px solid #87909c;
            margin-bottom: 0;
          }
        }

        select {
          line-height: 34px;
          height: 36px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          color: #87909c;
          font-size: 16px;
          font-weight: 400;
          outline: none;
          resize: none;
          width: 100%;
          font-family: Whitney;
          border-radius: 3px;
          padding: 0 10px 1px;
          background-color: #202D32;

          &:disabled {
            background: transparent;
          }

          &::-webkit-input-placeholder {
            color: hsla(0, 0%, 100%, .4);
          }

          &:focus {
            border-bottom: 2px solid #87909c;
          }
        }

        einu-block.tags-input {
          border: 1px solid rgba(0, 0, 0, 0.1);
          color: #87909c;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 1px;
          outline: none;
          resize: none;
          width: 100%;
          background: transparent;
          font-family: Whitney;
          border-radius: 3px;
          padding: 1px;
          min-height: 36px;

          .tag {
            display: inline-block;
            background-color: $color-blue;
            color: #fff;
            padding: 0 4px;
            margin: 5px 2px;
            border-radius: 2px;
            font: inherit;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            transition: all .3s ease;
            height: 21px;
            line-height: 21px;

            &.selected {
              background-color: $color-green;
            }

            &.dupe {
              background-color: $color-red;
            }
          }

          input {
            -webkit-appearance: none!important;
            -moz-appearance: none!important;
            appearance: none!important;
            display: inline-block;
            padding: 0;
            margin: 0!important;
            background: 0 0!important;
            border: none!important;
            box-shadow: none!important;
            font: inherit!important;
            font-size: 100%!important;
            outline: 0!important;
            height: 32px;
          }

          .selected ~ input {
            opacity: .3;
          }


          &[disabled] {
            background-color: #fafafa;

            .tag {
              cursor: default;
            }

            input {
              display: none;
            }
          }
        }

        input  {
          line-height: 34px;

          &[type=email],
          &[type=number],
          &[type=password],
          &[type=text],
          &[type=date] {
            border: 1px solid rgba(0, 0, 0, 0.1);
            color: #87909c;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 1px;
            outline: none;
            resize: none;
            width: 100%;
            font-family: Whitney;
            border-radius: 3px;
            padding: 0 10px;
            background-color: #202D32;

            &:disabled {
              background: transparent;
            }

            &::-webkit-input-placeholder {
              color: hsla(0, 0%, 100%, .4);
            }

            &:focus {
              border-bottom: 2px solid #87909c;
              margin-bottom: 0;
            }

            &.totp {
              display: inline-block;
              width: calc((100% / 6) - 14px);
              margin-left: 5px;
              margin-right: 5px;
              margin-bottom: 1px;
              text-align: center;
              text-transform: uppercase;

              &:first-of-type {
                margin-left: 0;
              }

              &:last-of-type {
                margin-right: 0;
              }

              &:focus {
                border-bottom: 2px solid #fff;
                margin-bottom: 0;
              }
            }
          }

          &[type=date] {
            line-height: 32px;
            height: 36px;
            margin-bottom: 0;
          }
        }

        einu-input {
          &#cv {
            display: block;
            height: 36px;
            padding: 7.5px 0;

            input {
              height: unset;
              line-height: unset;
              width: 100%;
            }
          }

          label {
            width: 60px;
            display: inline-block;
            float: left;
            line-height: 16px;
            padding-left: 10px;
          }

          einu-slider {
            height: 16px;
            line-height: 16px;
            margin: 0;
            width: calc(100% - 60px);
            display: inline-block;
            float: left;

            einu-slider-rail {
              background-color: rgba(0, 0, 0, 0.1);
              border: 1px solid rgba(0, 0, 0, 0.1);

              einu-slider-rail-trail {
                background-color: $color-green-light;
              }
            }

            einu-slider-thumb {
              margin: 2px 0;
              width: 20px;
              height: 12px;
              box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
              border: 1px solid rgba(0, 0, 0, 0.1);
              background-color: $color-green;
              border-radius: 3px;
            }

            &.red {
              einu-slider-rail {
                einu-slider-rail-trail {
                  background-color: $color-red-light;
                }
              }

              einu-slider-thumb {
                background-color: $color-red;
              }
            }

            &.yellow {
              einu-slider-rail {
                einu-slider-rail-trail {
                  background-color: $color-yellow-light;
                }
              }

              einu-slider-thumb {
                background-color: $color-yellow;
              }
            }
          }
        }

        einu-button,
        button {
          display: inline-block;
          line-height: 58px;
          padding: 0;
          text-align: center;
          text-decoration: none;
          width: 100%;
          border-radius: 3px;
          color: white;
          border: 0;
          outline: 0;
          text-transform: uppercase;
          font-weight: 700;
          font-family: Whitney;
          cursor: pointer;
          background-color: $color-red;
          float: left;
          max-height: 58px;

          &.small {
            line-height: 38px;
          }

          &:active {
            background-color: $color-red-darker;
          }

          &.green {
            background-color: $color-green;

            &:active {
              background-color: $color-green-darker;
            }
          }

          &.blue {
            background-color: $color-blue;

            &:active {
              background-color: $color-blue-darker;
            }
          }

          & > einu-icon {
            font-size: 28px;
            line-height: 58px;
            font-weight: 400;
          }
        }

        label {
          color: #87909c;
          display: block;
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase;

          span.required {
            color: $color-red;
          }

          & + input,
          & + select,
          & + textarea,
          & + einu-input,
          & ~ einu-block.tags-input {
            margin-top: 2px;
          }
        }

        input[type="checkbox"] {
          float: left;
        }

        input[type="checkbox"] + label {
          float: left;
          padding: 3px;
          display: inline-block;
          width: auto;
        }

        einu-col.image-container {
          padding: 10px;

          einu-block.image {
            width: 100%;
            padding: 0;
            padding-bottom: calc(100% - 10px);
            border: 10px solid #202D32;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            background-position: center center;
            background-repeat: no-repeat;

            &.editable {
              einu-block.hover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: none;
                transition: all .3s ease-in-out;
                align-content: center;
                justify-content: center;

                einu-icon {
                  padding: 15px;
                  border-radius: 50%;
                  background-color: rgba(0, 0, 0, 0.8);
                  color: #fff;
                  align-self: center;
                }
              }

              &:hover {
                einu-block.hover {
                  display: flex;
                  background-color: rgba(0, 0, 0, 0.5);
                  transition: all .3s ease-in-out;
                }
              }
            }

            &.company {
              background-size: contain;
            }

            &.employee {
              background-size: cover;
            }
          }
        }

        einu-block.score {
          padding: 0;
          padding-top: 20px;
          text-align: center;

          einu-heading {
            color: $color-green;
          }

          label {
            margin-top: -7px;
          }
        }

        &[type=radio] {
          overflow: hidden;

          label + einu-input {
            margin: 0;
            margin-left: -1px;
          }

          label {
            margin-bottom: 2px;
          }

          einu-input {
            float: left;
            width: calc((100% / 5) + 1px);
            margin-left: -1px;
            background-color: #E5E5E5;
            height: 36px;

            &:first-of-type {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              margin-left: 0;
              width: calc(100% / 5);

              label {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
              }
            }

            &:last-of-type {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;

              label {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
              }
            }

            &:nth-of-type(1),
            &:nth-of-type(2) {
              input:checked ~ label {
                background-color: $color-red;
                border-color: $color-red-darker;
              }

              label:hover,
              label:focus,
              label:active {
                background-color: $color-red-light;
                border-color: $color-red-light;
              }
            }

            &:nth-of-type(3) {
              input:checked ~ label {
                background-color: $color-yellow;
                border-color: $color-yellow-darker;
              }

              label:hover,
              label:focus,
              label:active {
                background-color: $color-yellow-light;
                border-color: $color-yellow-light;
              }
            }

            &:nth-of-type(4),
            &:nth-of-type(5) {
              input:checked ~ label {
                background-color: $color-green;
                border-color: $color-green-darker;
              }

              label:hover,
              label:focus,
              label:active {
                background-color: $color-green-light;
                border-color: $color-green-light;
              }
            }

            input {
              display: none;
            }

            label {
              box-sizing: border-box;
              display: block;
              height: 36px;
              line-height: 36px;
              width: 100%;
              cursor: pointer;
              transition: all .3s ease-in-out;
              text-align: center;
              padding: 0;
              color: white;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}