$topbar-height: 45px;
$sidebar-width: 300px;

html[einu-theme=dark], body[einu-theme=dark] {
  margin: 0;
  padding: 0;
  background: #202D32;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  min-height: 100vh;
}

.full-width { width: 100%; }

body[einu-flow="com.einutech.eem"][einu-theme="dark"] {
  font-family: "Whitney";
  color: #87909c;

  einu-footer.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;

    span {
      color: $color-red;
    }

    a {
      color: $color-red;
      text-decoration: none;

      &:hover {
        border-bottom: 2px solid $color-red;
        color: $color-red;
        padding-bottom: 5px;

        &.no-pad {
          padding: 0;
        }
      }
    }
  }

  einu-control-group {
    &.float-left { float: left; }
    &.float-right { float: right; }
  }

  einu-app {
    einu-content {
      padding: 15px;

      einu-block.pagination-container {
        padding: 0;
        text-align: center;

        einu-block.pagination {
          background-color: rgba(0, 0, 0, 0.25);
          border-radius: 3px;
          padding: 0;
          display: inline-block;
          width: auto;
        }
      }

      einu-block.action-bar {
        padding: 15px;
        max-width: 400px;
        width: 100%;
        border-radius: 3px;
        box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.05);
        margin-bottom: 30px;
        background-color: #1D2429;
        overflow: hidden;

        button {
          display: inline-block;
          line-height: 58px;
          padding: 0;
          text-align: center;
          text-decoration: none;
          width: 100%;
          border-radius: 3px;
          color: white;
          border: 0;
          outline: 0;
          text-transform: uppercase;
          font-weight: 700;
          font-family: Whitney;
          cursor: pointer;
          background-color: $color-red;
          float: left;
          max-height: 58px;
        }
      }

      einu-block.section {
        border-radius: 3px;
        box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.05);
        background-color: #1D2429;
        padding: 0;
        width: 100%;
        margin-bottom: 30px;

        span {
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase;

          &.error {
            color: $color-red;
          }

          &.score {
            color: $color-green;
            font-size: 15px;
          }
        }

        einu-textblock.message {
          text-align: center;
          display: block;
          width: 100%;
          padding: 15px;
        }

        einu-heading[size="1"] {
          color: #87909c;
          font-size: 14px;
          font-weight: 700;
          margin: 0;
          text-align: center;
          text-transform: uppercase;
          padding: 15px;
          background-color: transparent;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);

          a.alternative {
            position: absolute;
            bottom: 10px;
            font-size: 18px;

            @media (min-width: 768px) { font-size: 11px; bottom: 15px; }

            span {
              display: none;

              @media (min-width: 768px) { display: inline; }
            }

            &.left {
              left: 15px;
            }

            &.right {
              right: 15px;
            }
          }
        }

        einu-heading[size="2"] {
          color: #87909c;
          font-size: 11px;
          margin: 0;
          text-align: center;
          padding: 10px 15px;
          background-color: rgba(0, 0, 0, 0.02);
          border-bottom: 1px solid rgba(0, 0, 0, 0.08);
          border-top: 1px solid rgba(0, 0, 0, 0.08);

          &:first-of-type {
            border-top: 0;
          }

          &.accordion-head {
            cursor: pointer;
            border-bottom: 0;
            height: 33px;

            &:last-of-type {
              border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            }

            einu-icon {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              line-height: 33px;
              width: 33px;
              text-align: center;
              font-size: 14px;

              &.up {
                display: none;
              }

              &.down {
                display: inline-block;
              }
            }

            &.toggled {
              border-bottom: 1px solid rgba(0, 0, 0, 0.08);
              einu-icon {
                &.up {
                  display: inline-block;
                }

                &.down {
                  display: none;
                }
              }
            }
          }
        }

        &.settings {
          einu-block {
            display: inline-block;
            float: left;
            padding: 0;

            &.side-menu {
              width: 260px;

              a {
                color: $color-blue;
                display: block;
                width: 100%;
                line-height: 30px;
                height: 30px;
                letter-spacing: 1px;
                font-size: 11px;

                &:hover {
                  color: $color-blue-darker;
                  background-color: rgba(0, 0, 0, 0.05);
                  border: 0;
                }

                &.blue {
                  color: white;

                  &:hover {
                    background-color: $color-blue-darker;
                  }
                }
              }
            }

            &.content {
              width: calc(100% - 260px);
              border-left: 1px solid rgba(0, 0, 0, 0.1);

              form.einu-form {
                box-shadow: none;
              }
            }
          }
        }
      }

      @media (min-width: 700px) {
        padding: 35px;
      }
    }

    &.workspace {
      overflow-x: hidden;

      einu-content {
        padding: 0;
        padding-top: #{$topbar-height};
        width: 100%;
        float: right;
        transition: all .3s ease-in-out;

        @media (min-width: 768px) { padding: 30px; padding-top: calc(#{$topbar-height} + 30px); }

        &.sidebar-toggled {
          transform: translateX(300px);
          -webkit-transform: translateX(300px);
          transition: all .3s ease-in-out;

          @media (min-width: 768px) { -webkit-transform: translateX(0); transform: translateX(0); }
        }

        @media (min-width: 768px) { width: calc(100% - #{$sidebar-width}); }
      }
    }

    einu-grid {
      einu-col {
        padding: 5px;
      }
    }

    einu-grid {
      margin-bottom: 15px;

      einu-control-group.post-input {
        margin-bottom: 25px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 3px;

        input[type="text"] {
          display: block;
          width: 100%;
          color: #dadada;
          font-size: 14px;
          font-weight: 700;
          margin: 0;
          background-color: rgba(0, 0, 0, 0.25);
          padding: 14px;
          border: 0;
        }

        textarea {
          width: 100%;
          display: block;
          resize: none;
          padding: 15px;
          border: 0;
          background-color: transparent;
          color: #87909c;
          font-family: Whitney;
          height: 100px;
          overflow: hidden;

          &:focus {
            color: #dadada;
            overflow: auto;
          }
        }

        einu-footer {
          color: #dadada;
          font-size: 11px;
          margin: 0;
          background-color: rgba(0, 0, 0, 0.1);
          padding: 0;
          height: 35px;

          button {
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
            float: right;
            border-bottom-right-radius: 3px;
          }
        }
      }

      einu-block.profile-header {
        background: url('../img/profile-header.jpg') no-repeat left bottom;
        background-size: cover;
        border-radius: 3px;
        height: 130px;
        padding: 0;

        @media (min-width: 700px) {
          height: 200px;
        }

        einu-block.darken {
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          width: 100%;
          height: 100%;

          img {
            width: 100px;
            height: 100px;
            float: left;
            border-radius: 3px;
            margin-right: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            @media (min-width: 700px) {
              width: 170px;
              height: 170px;
            }

            &.badge {
              box-shadow: none;
              float: right;
              margin-right: 0;
            }
          }

          einu-block.info {
            display: inline-block;
            padding: 0;
            width: auto;
            height: 100%;
            width: calc(100% - ((2 * 100px) + 20px));

            @media (min-width: 700px) {
              padding-left: 5px;
              width: calc(100% - ((2 * 170px) + 20px));
            }

            einu-heading[size="1"] {
              color: #dadada;
              font-size: 18px;
              font-weight: 700;
              margin: 0;
              text-transform: uppercase;

              @media (min-width: 700px) {
                font-size: 32px;
              }
            }

            einu-block.shields-container {
              position: absolute;
              bottom: 0;
              padding: 0;

              einu-block.shields {
                padding: 0;
                padding-top: 6px;
                display: inline-block;

                einu-textblock {
                  margin-right: 10px;

                  &.shield {
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 3px 6px;
                    border-radius: 3px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                    text-transform: uppercase;
                    font-size: 10px;
                    display: inline-block;
                    float: left;

                    @media (min-width: 700px) {
                      font-size: 12px;
                    }

                    span.experience {
                      font-family: "Source Code Pro";
                    }
                  }
                }
              }
            }
          }
        }

        einu-table {
          einu-table-row {
            einu-table-cell {
              vertical-align: middle;
              padding: 10px;

              img {
                width: 24px;
                display: block;
              }

              einu-textblock {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    a {
      color: $color-blue;
      text-decoration: none;

      &:hover {
        border-bottom: 2px solid #fff;
        color: #fff;
        padding-bottom: 5px;

        &.no-pad {
          padding: 0;
        }
      }

      &.alternative {
        -webkit-transition: opacity .2s ease-out;
        background: none;
        color: $color-blue;
        font-size: 11px;
        font-weight: 700;
        margin: 0;
        opacity: 1;
        padding: 0;
        text-transform: uppercase;
        transition: opacity .2s ease-out;
        text-decoration: none;
        display: inline-block;

        &:hover {
          opacity: 0.75;
          border-bottom: none;
        }

        &:focus {
          opacity: 0.50;
          border-bottom: none;
        }

        &.red {
          color: $color-red;
        }

        &.green {
          color: $color-green;
        }
      }
    }
  }

  a.button,
  einu-button,
  button {
    padding: 0 10px;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-family: Whitney;
    font-size: 12px;
    display: inline-block;
    float: left;

    einu-icon {
      font-size: 18px;
      line-height: 35px;
    }

    &.squared {
      height: 35px;
      width: 35px;
      line-height: 35px;
      padding: 0;
      text-align: center;
    }

    &.rounded {
      border-radius: 3px;
    }

    &.red {
      background-color: $color-red;
      &:hover {
        background-color: $color-red;
      }
      &:active {
        background-color: $color-red-darker;
      }
    }

    &.green {
      background-color: $color-green;
      &:hover {
        background-color: $color-green;
      }
      &:active {
        background-color: $color-green-darker;
      }
    }

    &.blue {
      background-color: $color-blue;
      &:hover {
        background-color: $color-blue;
      }
      &:active {
        background-color: $color-blue-darker;
      }
    }

    &.logo-min {
      padding: 5px 10px;
      line-height: 0;
      img {
        height: calc(#{$topbar-height} - 10px);
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      padding-bottom: 0;
      border-bottom: 0;
      color: #dadada;
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  einu-block.sidebar {
    position: fixed;
    top: $topbar-height;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    background-color: #1D2429;
    padding: 0;
    margin-left: -#{$sidebar-width};
    transition: all .3s ease-in-out;

    @media (min-width: 768px) { margin: 0; }
    @media (min-width: 992px) { margin: 0; }
    @media (min-width: 1200px) { margin: 0; }

    &.toggled {
      margin: 0;
      transition: all .3s ease-in-out;
    }

    einu-heading[size="2"] {
      background-color: rgba(0, 0, 0, 0.25);
      font-size: 14px;
      color: #dadada;
      text-transform: uppercase;
      padding: 5px;
      margin-top: 10px;
    }

    einu-control-group {
      height: auto;
      overflow: hidden;

      a.button,
      einu-button,
      button {
        display: block;
        width: 100%;
        line-height: 30px;
        height: 30px;
        letter-spacing: 1px;
        font-size: 11px;
      }

      &.user {
        padding: 10px;
        display: block;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.2);

        einu-col {
          padding: 5px;

          img {
            width: 100%;
            border-radius: 50%;
            border: 2px solid #DBDBDB;
          }

          a {
            text-transform: uppercase;
            font-size: 14px;
          }

          einu-textblock {
            display: block;
            font-size: 12px;
          }

          &:last-of-type {
            padding-top: 15px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  einu-block.topbar {
    height: $topbar-height;
    position: fixed;
    top: 0;
    font-size: 20px;
    width: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 3;
    font-family: Whitney;
    background-color: #1D2429;
    padding: 0;
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) { display: block; justify-content: unset; }

    einu-control-group {
      height: $topbar-height;

      &.align-left {
        align-self: left;

        @media (min-width: 768px) { float: left; align-self: unset; }
      }

      &.align-right {
        align-self: right;

        @media (min-width: 768px) { float: right; align-self: unset; }
      }

      &.logos {
        display: inline-block;
        width: auto;
        align-self: center;

        @media (min-width: 768px) { float: left; align-self: unset; display: block; }
      }

      form {
        height: $topbar-height;
        float: left;
      }

      a.button,
      einu-button,
      button {
        display: inline-block;
        height: 100%;
        line-height: $topbar-height;
        float: left;

        &.squared {
          width: $topbar-height;
        }

        &.sidebar-toggle {
          display: inline-block;

          @media (min-width: 768px) { display: none; }
        }
      }
    }
  }

  &[screen="dialog"] {
    min-height: 100%;

    einu-app {
      width: 100%;
      height: 100%;

      &.workspace {
        einu-content {
          padding-top: $topbar-height;
          width: 100%;
          float: right;

          @media (min-width: 768px) { width: calc(100% - #{$sidebar-width}); }

          einu-flex-container {
            einu-block.dialog {
              .logo {
                display: none;
              }
            }
          }
        }
      }

      einu-content {
        display: flex;
        height: 100%;

        einu-flex-container {
          padding: 0;
          align-self: flex-start;
          margin: auto;

          @media (min-width: 400px) {
            width: 400px;
          }

          einu-block.dialog {
            position: relative;
            font-size: 20px;
            width: 100%;
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
            overflow: hidden;
            z-index: 0;
            font-family: Whitney;
            background-color: white;
            padding: 0;

            @media (min-width: 401px) {
              border-radius: 3px;
              width: 400px;
              margin: 25px 0;
            }

            img.logo {
              width: 200px;
              display: block;
              margin: 30px auto;
            }

            einu-heading[size="1"] {
              color: #87909c;
              font-size: 14px;
              font-weight: 700;
              margin: 0;
              text-align: center;
              text-transform: uppercase;
              background-color: white;
              padding: 15px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            einu-block.form-container {
              padding: 30px;
              z-index: 3;

              einu-footer {
                color: #87909c;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 0;
                margin-top: 10px;
                padding: 0;
              }

              einu-control-group {
                -ms-flex: 1;
                -webkit-box-flex: 1;
                flex: 1;
                overflow: hidden;

                &.file-info {
                  einu-table {
                    padding-top: 10px;
                    color: #87909c;
                    font-size: 12px;

                    span.blue {
                      font-family: "Source Code Pro";
                      color: $color-blue;
                    }

                    einu-table-cell {
                      padding: 0 5px;

                      &:first-of-type {
                        padding-left: 0;
                      }

                      &:last-of-type {
                        padding-right: 0;
                      }
                    }
                  }

                  einu-textblock {
                    padding: 1px 0;
                    font-size: 12px;

                    &:first-of-type {
                      padding-top: 0;
                    }

                    &:last-of-type {
                      padding-bottom: 0;
                    }

                    &.name {
                      color: #DADADA;
                      font-size: 14px;
                      font-weight: 700;
                    }
                  }
                }

                einu-textblock {
                  display: block;
                }

                einu-textblock, einu-list {
                  color: #87909c;
                  font-size: 14px;
                  line-height: 16px;
                }

                einu-col {
                  padding: 7.5px;
                  padding-top: 0;
                  padding-bottom: 0;

                  &:first-of-type {
                    padding-left: 0;
                  }

                  &:last-of-type {
                    padding-right: 0;
                  }
                }

                span.error {
                  color: $color-red;
                  float: right;
                }

                &.checkpoint {
                  text-align: center;
                }

                & + einu-control-group {
                  margin-top: 18px;
                }

                input {
                  line-height: 34px;

                  &[type=email],
                  &[type=number],
                  &[type=password],
                  &[type=text] {
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    color: #87909c;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 1px;
                    outline: none;
                    resize: none;
                    width: 100%;
                    background: transparent;
                    border-bottom-color: rgba(0, 0, 0, 0.1);
                    font-family: Whitney;
                    border-radius: 0;

                    &::-webkit-input-placeholder {
                      color: hsla(0, 0%, 100%, .4);
                    }

                    &:focus {
                      border-bottom: 2px solid #87909c;
                      margin-bottom: 0;
                    }

                    &.totp {
                      display: inline-block;
                      width: calc((100% / 6) - 14px);
                      margin-left: 5px;
                      margin-right: 5px;
                      margin-bottom: 1px;
                      text-align: center;
                      text-transform: uppercase;

                      &:first-of-type {
                        margin-left: 0;
                      }

                      &:last-of-type {
                        margin-right: 0;
                      }

                      &:focus {
                        border-bottom: 2px solid #fff;
                        margin-bottom: 0;
                      }
                    }
                  }
                }

                einu-button,
                button {
                  display: inline-block;
                  line-height: 58px;
                  padding: 0;
                  text-align: center;
                  text-decoration: none;
                  width: 100%;
                  border-radius: 3px;
                  color: white;
                  border: 0;
                  outline: 0;
                  text-transform: uppercase;
                  font-weight: 700;
                  font-family: Whitney;
                  cursor: pointer;
                  background-color: $color-red;
                  float: left;
                  max-height: 58px;

                  &:active {
                    background-color: $color-red-darker;
                  }

                  &.green {
                    background-color: $color-green;

                    &:active {
                      background-color: $color-green-darker;
                    }
                  }

                  &.blue {
                    background-color: $color-blue;

                    &:active {
                      background-color: $color-blue-darker;
                    }
                  }

                  & > einu-icon {
                    font-size: 28px;
                    line-height: 58px;
                    font-weight: 400;
                  }
                }

                label {
                  color: #87909c;
                  display: block;
                  font-size: 11px;
                  font-weight: 700;
                  text-transform: uppercase;

                  & + input {
                    margin-top: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}