body[einu-flow="flow-dark"] {
    einu-header {
        background-color: #C8202D;

        einu-heading {
            margin: 130px 0;
            color: #1c1c1c;
        }
    }

    einu-content {
        background-color: #212121;
    }

    einu-footer {
        background-color: #1c1c1c;
        text-align: right;
        font-size: 1em;
    }

    einu-heading {
        color: rgba(204, 204, 204, 0.3);
    }

    einu-textblock {
        color: rgba(204, 204, 204, 0.3);
        font-size: 0.75em;
    }

    einu-blockquote {
        font-size: 0.75em;
        border-radius: 4px;
        color: rgba(204, 204, 204, 0.3);
        border-left: 4px solid rgba(200, 32, 45, 0.5);
        background-color: rgba(84, 84, 84, 0.1);

        &> einu-blockquote-author {
            color: rgba(200, 32, 45, 0.5);
        }
    }

    einu-col {
        &> einu-heading {
            text-align: center;
        }
    }

    einu-nav {
        background-color: #1c1c1c;

        einu-nav-item {
            font-size: 0.75em;
            text-transform: uppercase;
            color: #829299;

            @include transition(all, 0.3s, ease-in-out);
            &:hover {
                background-color: #35393b;
                color: #829299;
                cursor: pointer;
            }
        }
    }

    einu-button {
        font-size: 19px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid gray;
        color: #1c1c1c;
        background-color: #829299;

        &:hover {
            cursor: pointer;
            background-color: #79868c;
        }

        &:active {
            background-color: #6b777d;
        }
    }

    einu-time {
        background-color: #C8202D;
        color: #1c1c1c;
        border-radius: 4px;
        padding: 0 4px;
    }

    einu-breadcrumb {
        font: 0.75em "einuFont Medium";
        text-transform: uppercase;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        &> einu-breadcrumb-item {
            color: rgba(204, 204, 204, 0.3);
            text-decoration: none;
            padding: 5px 0 5px 55px;
            background-color: #262626;

            &:first-child {
                padding-left: 25px;
            }

            &:before {
                border-left: 32px solid #C8202D;
            }

            &:after {
                border-left: 30px solid #262626;
            }

            &:hover {
                background-color: #752127;
                color: #1c1c1c;

                &:after {
                    border-left: 30px solid #752127;
                }
            }
        }
    }

    einu-slideshow {
        background-color: rgba(84, 84, 84, 0.1);
        border-left: 4px solid rgba(200, 32, 45, 0.5);
        border-right: 4px solid rgba(200, 32, 45, 0.5);
        border-radius: 4px;

        &[chromeless] {
            border: 0;
        }

        einu-slideshow-slides {
            einu-slideshow-slides-item {
                &> einu-heading {
                    text-shadow: 0px  0px 5px #000, 0px  0px 5px #000, 0px  0px 5px #000, 0px  0px 5px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
                    text-transform: uppercase;
                }
            }
        }

        einu-slideshow-controllers {
            einu-slideshow-controllers-item {
                border-radius: 5px;
                border: 1px solid white;
                height: 11px;
                box-shadow: 0px  0px 2px #000, 0px  0px 2px #000, 0px  0px 2px #000, 0px  0px 2px #000;

                @include transition(all, 0.3s, ease-in-out);
                &:hover {
                    background-color: #C8202D;
                    border-color: #C8202D;
                }

                &.highlight {
                    background-color: white;
                    height: 13px;

                    &:hover {
                        background-color: #C8202D;
                    }
                }
            }
        }

        &[arrows] {
            &> einu-slideshow-arrows {
                einu-slideshow-arrows-item {
                    text-shadow: 0px  0px 5px #000, 0px  0px 5px #000, 0px  0px 5px #000, 0px  0px 5px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
                    @include transition(all, 0.3s, ease-in-out);

                    &:hover {
                        color: #C8202D;
                    }
                }
            }
        }
    }
}
