@font-face {
    font-family: 'Headliner';
    src: url('../fonts/HeadlinerNo45.ttf');
}

@import 'extras/pulsate';

body[einu-flow="flow-hub"] {
    background-color: #E9EAED;

    &.repulsive {
        @include noise();
        background-color: #fefefe;
        height: 100%;

        einu-heading {
            &.title {
                font-family: 'Headliner';
                font-size: 5em;
                color: #474747;

                span {
                    font-size: 0.5em;

                    &.x { color: #e74c3c; }
                    &.y { color: #2ecc71; }
                    &.z { color: #3d9ddd; }
                }
            }
        }

        einu-block {
            padding: 10px;

            &.profile-parent {
                max-width: 300px;
                /*position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);*/
                margin: 30px auto 0 auto;
                padding: 0;
                padding-bottom: 10px;
                text-align: center;
                background-color: transparent;
                border: 0;

                einu-block.profile {
                    @include gradient-red_blue(left top);

                    max-width: 300px;
                    border-radius: 0;
                    text-align: center;
                    padding-top: 20px;
                    border: 0;

                    .pulse-image {
                        width: 120px;
                        height: 120px;
                        display: block;
                        margin: 30px auto;
                        border-radius: 60px;
                        border: 3px solid white;
                        opacity: 0.7;
                        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.3);
                    }

                    &::before {
                        content: " ";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        @include glass();
                    }

                    einu-label {
                        color: white;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 1em;
                        font-family: $fontMedium;

                        &[caption] {
                            font-size: 0.75em;
                            font-family: $fontRegular;
                            opacity: 0.7;
                        }
                    }

                    a {
                        padding: 10px 20px;
                        border: 3px solid white;
                        border-radius: 10px;
                        color: white;
                        text-transform: uppercase;
                        font-size: 0.75em;
                        opacity: 0.9;
                        margin-top: 5px;
                        text-decoration: none;
                        display: inline-block;

                        @include transition(all, 0.3s, ease-in-out);
                        &:hover {
                            background-color: #FC354C;
                            border-color: #FC354C;
                            color: white;
                            //opacity: 1;
                            font-family: $fontMedium;
                            -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
                            -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
                            box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
                        }

                        &.social {
                            background-color: transparent;
                            padding: 5px;
                            font-size: 19px;
                            margin-top: 0;
                            border-radius: 20px;
                            //opacity: 0.3;

                            &:hover {
                                background-color: #0ABFBC;
                                border-color: #0ABFBC;
                                //opacity: 1;

                                &.fb {
                                    background-color: #3b5998;
                                    border-color: #3b5998;
                                }

                                &.tw {
                                    background-color: #55acee;
                                    border-color: #55acee;
                                }

                                &.li {
                                    background-color: #007bb5;
                                    border-color: #007bb5;
                                }
                            }
                        }
                    }

                    einu-separator {
                        border-color: white;
                        border-style: solid;
                        opacity: 0.2;
                    }
                }
            }
        }
    }

    einu-container {
        padding: 0 15px;
        margin: 0 auto;
        overflow: hidden;
    }

    einu-grid {
        &.vertical-split {
            &> einu-col {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    einu-block {
        background-color: white;
        border: 1px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    einu-header {
        background: #232526;
        text-align: center;
        padding: 50px 0;

        img {
            max-width: 500px;
            max-height: 129px;
        }
    }

    einu-nav {
        z-index: 9999;
        border-bottom: 1px solid #E0E0E0;
        position: fixed;
        top: 0;
        height: 65px;
        color: #494949;
        font-weight: 400;
        margin: 0;
        padding: 0;
        font-family: $fontRegular;
        text-transform: uppercase;
        font-size: 12px;
        background-color: white;
        width: 100%;

        einu-nav-item {
            text-transform: uppercase;
            display: inline-block;
            padding: 25px 10px;

            @include transition(all, 0.3s, ease-in-out);
            &:hover {
                color: #30C8C5;
                background-color: #f6f6f6;
            }
        }
    }

    einu-slideshow {
        border-radius: 0;
        height: 400px;
    }

    einu-textblock {
        font-size: 0.75em;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
