body[einu-flow] {
    einu-header {
        overflow: hidden;

        einu-heading {
            text-align: center;
            font-family: $fontMono;
            margin: 20px 0;
        }
    }
}
