body[einu-flow] {
    einu-button {
        padding: 10px 15px;
        font-family: $fontMedium;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        background-color: #7892c2;
        border: 1px solid #4e6096;

        &:hover {
            background-color: #476e9e;
            cursor: pointer;
        }
    }
}
