body[einu-flow] {
    einu-breadcrumb {
        list-style: none;
        overflow: hidden;
        margin: 10px 0;

        &> einu-breadcrumb-item {
            display: inline;
            color: black;
            text-decoration: none;
            padding: 5px 0 5px 55px;
            position: relative;
            display: block;
            float: left;
            font-size: 0.75em;

            &:first-child {
                padding-left: 0;
            }

            &:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 32px solid black;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }
            &:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

            &:hover {
                color: #168199;
                cursor: pointer;
            }
        }
    }
}
