body[einu-flow] {
    einu-textblock {
        text-align: left;
        font-size: 1em;

        &[indent] {
            text-indent: 50px;
        }

        &[align="left"] {
            text-align: left;
        }

        &[align="center"] {
            text-align: center;
        }

        &[align="right"] {
            text-align: right;
        }

        &[align="justify"] {
            text-align: justify;
        }
    }
}
