body[einu-flow] {
  einu-slider {
    display: inline-block;
    margin-top: 30px;
    height: 24px;
    width: 200px;
    position: relative;

    einu-slider-rail {
      cursor: pointer;
      width: 100%;
      height: 6px;
      background-color: rgba(0, 0, 0, .2);
      border-radius: 3px;
      position: absolute;
      border: 1px solid rgba(0, 0, 0, .05);
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      z-index: 1;

      einu-slider-rail-trail {
        position: relative;
        width: 0;
        height: 100%;
        display: block;
        background-color: #ed8792;
      }
    }

    einu-slider-thumb {
      width: 24px;
      height: 100%;
      background-color: #ba182a;
      border-radius: 12px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .4);

      &:hover {
        background-color: #cc1e32;
      }
    }

    &[rotation=vertical] {
      width: 24px;
      height: 200px;

      einu-slider-rail {
        height: 100%;
        width: 6px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      einu-slider-thumb {
        height: 24px;
        width: 100%;
      }
    }

    &[disabled] {
      einu-slider-rail {
        cursor: default;
      }

      einu-slider-thumb {
        background-color: #d0d3d8;
        cursor: default;

        &:hover {
          background-color: #d0d3d8;
        }
      }
    }
  }
}
