body[einu-flow] {
    einu-slideshow {
        height: 350px;
        border-radius: 10px;
        overflow: hidden;

        &[grayscale] {
            &> einu-slideshow-slides {
                &> einu-slideshow-slides-item {
                    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                    -webkit-filter: grayscale(100%);
                    filter: gray;
                    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                }
            }
        }

        &[chromeless] {
            &> einu-slideshow-controllers {
                display: none;
            }

            &> einu-slideshow-arrows {
                display: none;
            }
        }

        &> einu-slideshow-slides {
            position: relative;
            display: block;
            height: 100%;

            &> einu-slideshow-slides-item {
                overflow: hidden;
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                padding: 30px 70px;
                background-image: url(attr('image'));
                
                &> einu-heading {
                    text-shadow: 0px 0px 10px #000;
                    color: white;
                    text-align: center;
                }
            }
        }

        &> einu-slideshow-controllers {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: block;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 10px;
            text-align: center;

            &> einu-slideshow-controllers-item {
                border-radius: 6.5px;
                border: 1px solid white;
                display: inline-block;
                height: 13px;
                width: 13px;
                margin: 0 2px;

                &:hover {
                    cursor: pointer;
                    background-color: white;
                }

                &.highlight {
                    background-color: white;
                }
            }
        }

        &> einu-slideshow-arrows {
            display: none;
        }

        &[arrows] {
            &> einu-slideshow-arrows {
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;

                einu-slideshow-arrows-item {
                    text-shadow: 0px 0px 10px #000;
                    font-size: 50px;
                    margin: 0 20px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    color: white;

                    &[left] {
                        left: 0;
                    }

                    &[right] {
                        right: 0;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #ddd;
                    }
                }
            }
        }
    }
}
