body[einu-flow] {
    einu-blockquote {
        font-style: italic;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.1);

        &> einu-blockquote-author {
            margin-top: 10px;
            text-align: right;
            font-style: normal;
            display: block;

            &:before {
                content: '— ';
            }
        }
    }
}
