body[einu-flow] {
    einu-col {
        float: left;
        padding: 15px;

        &[size~="M1"] { width: 8.33%; }
        &[size~="M2"] { width: 16.66%; }
        &[size~="M3"] { width: 25%; }
        &[size~="M4"] { width: 33.33%; }
        &[size~="M5"] { width: 41.66%; }
        &[size~="M6"] { width: 50%; }
        &[size~="M7"] { width: 58.33%; }
        &[size~="M8"] { width: 66.66%; }
        &[size~="M9"] { width: 75%; }
        &[size~="M10"] { width: 83.33%; }
        &[size~="M11"] { width: 91.66%; }
        &[size~="M12"] { width: 100%; }

        &[offset~="M1"] { margin-left: 8.33%; }
        &[offset~="M2"] { margin-left: 16.66%; }
        &[offset~="M3"] { margin-left: 25%; }
        &[offset~="M4"] { margin-left: 33.33%; }
        &[offset~="M5"] { margin-left: 41.66%; }
        &[offset~="M6"] { margin-left: 50%; }
        &[offset~="M7"] { margin-left: 58.33%; }
        &[offset~="M8"] { margin-left: 66.66%; }
        &[offset~="M9"] { margin-left: 75%; }
        &[offset~="M10"] { margin-left: 83.33%; }
        &[offset~="M11"] { margin-left: 91.66%; }
        &[offset~="M12"] { margin-left: 100%; }

        @media (min-width: 768px) {
            &[size~="T1"] { width: 8.33%; }
            &[size~="T2"] { width: 16.66%; }
            &[size~="T3"] { width: 25%; }
            &[size~="T4"] { width: 33.33%; }
            &[size~="T5"] { width: 41.66%; }
            &[size~="T6"] { width: 50%; }
            &[size~="T7"] { width: 58.33%; }
            &[size~="T8"] { width: 66.66%; }
            &[size~="T9"] { width: 75%; }
            &[size~="T10"] { width: 83.33%; }
            &[size~="T11"] { width: 91.66%; }
            &[size~="T12"] { width: 100%; }

            &[offset~="T1"] { margin-left: 8.33%; }
            &[offset~="T2"] { margin-left: 16.66%; }
            &[offset~="T3"] { margin-left: 25%; }
            &[offset~="T4"] { margin-left: 33.33%; }
            &[offset~="T5"] { margin-left: 41.66%; }
            &[offset~="T6"] { margin-left: 50%; }
            &[offset~="T7"] { margin-left: 58.33%; }
            &[offset~="T8"] { margin-left: 66.66%; }
            &[offset~="T9"] { margin-left: 75%; }
            &[offset~="T10"] { margin-left: 83.33%; }
            &[offset~="T11"] { margin-left: 91.66%; }
            &[offset~="T12"] { margin-left: 100%; }
        }

        @media (min-width: 992px) {
            &[size~="D1"] { width: 8.33%; }
            &[size~="D2"] { width: 16.66%; }
            &[size~="D3"] { width: 25%; }
            &[size~="D4"] { width: 33.33%; }
            &[size~="D5"] { width: 41.66%; }
            &[size~="D6"] { width: 50%; }
            &[size~="D7"] { width: 58.33%; }
            &[size~="D8"] { width: 66.66%; }
            &[size~="D9"] { width: 75%; }
            &[size~="D10"] { width: 83.33%; }
            &[size~="D11"] { width: 91.66%; }
            &[size~="D12"] { width: 100%; }

            &[offset~="D1"] { margin-left: 8.33%; }
            &[offset~="D2"] { margin-left: 16.66%; }
            &[offset~="D3"] { margin-left: 25%; }
            &[offset~="D4"] { margin-left: 33.33%; }
            &[offset~="D5"] { margin-left: 41.66%; }
            &[offset~="D6"] { margin-left: 50%; }
            &[offset~="D7"] { margin-left: 58.33%; }
            &[offset~="D8"] { margin-left: 66.66%; }
            &[offset~="D9"] { margin-left: 75%; }
            &[offset~="D10"] { margin-left: 83.33%; }
            &[offset~="D11"] { margin-left: 91.66%; }
            &[offset~="D12"] { margin-left: 100%; }
        }

        @media (min-width: 1200px) {
            &[size~="X1"] { width: 8.33%; }
            &[size~="X2"] { width: 16.66%; }
            &[size~="X3"] { width: 25%; }
            &[size~="X4"] { width: 33.33%; }
            &[size~="X5"] { width: 41.66%; }
            &[size~="X6"] { width: 50%; }
            &[size~="X7"] { width: 58.33%; }
            &[size~="X8"] { width: 66.66%; }
            &[size~="X9"] { width: 75%; }
            &[size~="X10"] { width: 83.33%; }
            &[size~="X11"] { width: 91.66%; }
            &[size~="X12"] { width: 100%; }

            &[offset~="X1"] { margin-left: 8.33%; }
            &[offset~="X2"] { margin-left: 16.66%; }
            &[offset~="X3"] { margin-left: 25%; }
            &[offset~="X4"] { margin-left: 33.33%; }
            &[offset~="X5"] { margin-left: 41.66%; }
            &[offset~="X6"] { margin-left: 50%; }
            &[offset~="X7"] { margin-left: 58.33%; }
            &[offset~="X8"] { margin-left: 66.66%; }
            &[offset~="X9"] { margin-left: 75%; }
            &[offset~="X10"] { margin-left: 83.33%; }
            &[offset~="X11"] { margin-left: 91.66%; }
            &[offset~="X12"] { margin-left: 100%; }
        }
    }
}
