body[einu-flow="com.einutech.eem"] {
  &[screen="print"] {
    background-color: white;
    height: 100%;

    .header {
      img.logo {
        width: 70%;
      }

      einu-textblock {
        width: 100%;
        display: block;
        font-size: 10px;
      }
    }

    einu-footer {
      color: #87909c;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 0;
      margin-top: 10px;
      padding: 0;
    }

    einu-heading[size="1"] {
      color: #87909c;
      font-size: 14px;
      font-weight: 700;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      background-color: white;
      padding: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 45px;
      margin-bottom: 10px;

      &:first-of-type {
        margin-top: 0;
      }

      a.alternative {
        position: absolute;
        bottom: 15px;

        &.left {
          left: 0;
        }

        &.right {
          right: 0;
        }
      }
    }

    einu-control-group {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
      overflow: hidden;

      einu-textblock {
        display: block;
      }

      einu-textblock, einu-list {
        color: #87909c;
        font-size: 14px;
        line-height: 16px;
      }

      einu-col {
        padding: 7.5px;
        padding-top: 0;
        padding-bottom: 0;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }
      }

      span.error {
        color: #C02C44;
        float: right;
      }

      &.checkpoint {
        text-align: center;
      }

      & + einu-control-group {
        margin-top: 18px;
      }

      textarea {
        line-height: 34px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #87909c;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 1px;
        outline: none;
        resize: none;
        width: 100%;
        background: transparent;
        font-family: Whitney;
        border-radius: 3px;
        padding: 0 10px;

        &::-webkit-input-placeholder {
          color: hsla(0, 0%, 100%, .4);
        }

        &:focus {
          border-bottom: 2px solid #87909c;
          margin-bottom: 0;
        }
      }

      select {
        line-height: 34px;
        height: 36px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #87909c;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        resize: none;
        width: 100%;
        background: transparent;
        font-family: Whitney;
        border-radius: 3px;
        padding: 0 10px 1px;

        &::-webkit-input-placeholder {
          color: hsla(0, 0%, 100%, .4);
        }

        &:focus {
          border-bottom: 2px solid #87909c;
        }
      }

      input {
        line-height: 34px;

        &[type=email],
        &[type=number],
        &[type=password],
        &[type=text],
        &[type=date] {
          border: 1px solid rgba(0, 0, 0, 0.1);
          color: #87909c;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 1px;
          outline: none;
          resize: none;
          width: 100%;
          background: transparent;
          font-family: Whitney;
          border-radius: 3px;
          padding: 0 10px;

          &::-webkit-input-placeholder {
            color: hsla(0, 0%, 100%, .4);
          }

          &:focus {
            border-bottom: 2px solid #87909c;
            margin-bottom: 0;
          }

          &.totp {
            display: inline-block;
            width: calc((100% / 6) - 14px);
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 1px;
            text-align: center;
            text-transform: uppercase;

            &:first-of-type {
              margin-left: 0;
            }

            &:last-of-type {
              margin-right: 0;
            }

            &:focus {
              border-bottom: 2px solid #fff;
              margin-bottom: 0;
            }
          }
        }

        &[type=date] {
          line-height: 32px;
          height: 36px;
          margin-bottom: 0;
        }
      }

      einu-button,
      button {
        display: inline-block;
        line-height: 58px;
        padding: 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
        border-radius: 3px;
        color: white;
        border: 0;
        outline: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-family: Whitney;
        cursor: pointer;
        background-color: #C02C44;
        float: left;
        max-height: 58px;

        &:active {
          background-color: #b52940;
        }

        &.green {
          background-color: #2bc05d;

          &:active {
            background-color: #27B556;
          }
        }

        &.blue {
          background-color: #50B4D8;

          &:active {
            background-color: #4CABCE;
          }
        }

        & > einu-icon {
          font-size: 28px;
          line-height: 58px;
          font-weight: 400;
        }
      }

      label {
        color: #87909c;
        display: block;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;

        & + input,
        & + select,
        & + textarea {
          margin-top: 2px;
        }
      }
    }
  }
}