body[einu-flow="com.einutech.eem|embed"] {
  font-family: "Whitney", sans-serif;
  font-weight: 400;
  color: #87909c;
  background: #FFF;

  einu-app {
    einu-content {
      padding: 0;

      einu-section {
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        overflow: hidden;

        &:last-of-type {
          border-bottom: 0;
        }

        einu-col {
          padding: 0;
          height: 120px;
          &:first-of-type {
            width: calc(100% - 125px);
          }

          &:last-of-type {
            width: 125px;
            padding: 40px 0;
          }

          einu-block {
            padding: 0;

            &.title {
              einu-heading {
                font-size: 19px;
              }
            }

            &.meta {
              span.delimiter {
                font-size: 11px;
                margin: 0 5px;
              }

              einu-textblock {
                font-size: 11px;

                &.company {
                  color: $color-green;
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
            }

            &.description {
              margin-top: 10px;
            }

            &.skills {
              position: absolute;
              bottom: 10px;

              span {
                display: inline-block;
                background-color: $color-blue;
                color: #fff;
                padding: 0 4px;
                margin: 4px 0;
                margin-right: 4px;
                border-radius: 2px;
                font-size: 12px;
                transition: all .3s ease;
                height: 18px;
                line-height: 18px;
                float: left;
              }
            }
          }

          a.button,
          einu-button,
          button {
            display: inline-block;
            line-height: 40px;
            padding: 0;
            text-align: center;
            text-decoration: none;
            width: 100%;
            border-radius: 3px;
            color: white;
            border: 0;
            outline: 0;
            text-transform: uppercase;
            font-weight: 400;
            font-family: Whitney;
            cursor: pointer;
            background-color: $color-red;
            float: left;
            max-height: 40px;
            font-size: 14px;

            &:active {
              background-color: $color-red-darker;
            }

            &.green {
              background-color: $color-green;

              &:active {
                background-color: $color-green-darker;
              }
            }

            &.blue {
              background-color: $color-blue;

              &:active {
                background-color: $color-blue-darker;
              }
            }

            &.yellow {
              background-color: $color-yellow;

              &:active {
                background-color: $color-yellow-darker;
              }
            }

            & > einu-icon {
              font-size: 28px;
              line-height: 58px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  &[color=red] {
    einu-app {
      einu-content {
        einu-section {
          einu-col {
            einu-block {
              &.meta {
                einu-textblock {
                  &.company {
                    color: $color-red;
                  }
                }
              }

              &.skills {
                span {
                  background-color: $color-red;
                }
              }
            }
          }
        }
      }
    }
  }

  &[color=green] {
    einu-app {
      einu-content {
        einu-section {
          einu-col {
            einu-block {
              &.meta {
                einu-textblock {
                  &.company {
                    color: $color-green;
                  }
                }
              }

              &.skills {
                span {
                  background-color: $color-green;
                }
              }
            }
          }
        }
      }
    }
  }

  &[color=blue] {
    einu-app {
      einu-content {
        einu-section {
          einu-col {
            einu-block {
              &.meta {
                einu-textblock {
                  &.company {
                    color: $color-blue;
                  }
                }
              }

              &.skills {
                span {
                  background-color: $color-blue;
                }
              }
            }
          }
        }
      }
    }
  }

  &[color=yellow] {
    einu-app {
      einu-content {
        einu-section {
          einu-col {
            einu-block {
              &.meta {
                einu-textblock {
                  &.company {
                    color: $color-yellow;
                  }
                }
              }

              &.skills {
                span {
                  background-color: $color-yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}