@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(/fonts/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")
}

@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(/fonts/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff")
}

@font-face {
  font-family: Whitney;
  font-weight: 600;
  src: url(/fonts/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")
}

@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(/fonts/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff")
}

@font-face {
  font-family: SourceCodePro;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/375f5d0b0a54b53b92c351d7475eb152.woff) format("woff")
}

@font-face {
  font-family: SourceCodePro;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/c383b1af097688e4ef1637838c2befe1.woff) format("woff")
}