// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Sizes
$nav-bar-height: 52px;
$side-bar-width: 240px;
$search-input-width: 160px;

// Colors
$color-dark-grey: #6c6d6d;
$color-grey: #a6a8ab;
$color-light-grey: #d0d2d3;
$color-blue: #44c7f4;

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  * {
    box-sizing: border-box;
  }

  div.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-bar-height;
    background-color: $color-dark-grey;

    div {
      display: inline-block;
      height: 100%;

      &.left {
        float: left;

        a {
          display: inline-block;
          float: left;
          height: $nav-bar-height;
          line-height: $nav-bar-height;

          &.hamburger {
            width: $nav-bar-height;
            text-align: center;

            img {
              vertical-align: middle;
              height: 18px;
            }
          }

          &.logo {
            padding-left: 5px;

            img {
              vertical-align: middle;
              height: 38px;
            }
          }
        }
      }

      &.right {
        float: right;
        padding-right: 50px;

        form.search {
          float: left;
          width: $search-input-width;
          height: 100%;
          background-color: $color-grey;

          input[type="text"] {
            display: inline-block;
            float: left;
            width: calc(100% - #{$nav-bar-height});
            height: 100%;
            background-color: transparent;
            outline: unset;
            border: 0;
            padding-left: 24px;
            color: $color-light-grey;

            &::placeholder {
              color: $color-light-grey;
            }

            &:focus {
              color: white;
            }
          }

          button {
            display: inline-block;
            float: left;
            height: 100%;
            width: $nav-bar-height;
            text-align: center;
            border: 0;
            background-color: transparent;
            cursor: pointer;

            img {
              vertical-align: middle;
              height: 28px;
            }
          }
        }

        a {
          &.button {
            display: inline-block;
            float: left;
            height: $nav-bar-height;
            line-height: $nav-bar-height;
            width: $nav-bar-height;
            text-align: center;

            img {
              vertical-align: middle;
              width: 32px;
            }
          }

          &.profile {
            display: inline-block;
            float: left;
            padding: 0 30px;
            padding-top: calc((#{$nav-bar-height - 38px}) / 2);
            height: 100%;

            div.image {
              display: inline-block;
              vertical-align: middle;
              width: 38px;
              height: 38px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  div.sidebar {
    position: fixed;
    top: $nav-bar-height;
    left: 0;
    bottom: 0;
    width: $side-bar-width;
    background-color: $color-blue;
    color: white;
    overflow-y: auto;

    section.logo {
      height: 80px;
      padding: 10px;
      padding-left: 62px;

      img {
        height: 100%;
      }
    }

    section {
      div.category {
        height: 35px;
        width: 100%;
        background-color: $color-dark-grey;
        font-weight: 700;

        span {
          display: inline-block;
          float: left;
          height: 100%;
          line-height: 35px;

          &.icon {
            width: 62px;
            padding-left: 22px;
            vertical-align: middle;

            img {
              height: 24px;
              vertical-align: middle;
            }
          }

          &.title {
            font-size: 20px;
          }

          &.chevron {
            width: 36px;
            float: right;

            img {
              height: 10px;
            }
          }
        }
      }

      div.links {
        padding: 5px 0;

        a {
          padding-left: 62px;
          display: block;
          width: 100%;
          color: white;
          text-decoration: none;
          font-size: 14px;
          line-height: 19px;
          font-weight: 600;

          &:hover,
          &.active {
            color: black;
            background-color: $color-light-grey;
          }
        }
      }
    }
  }

  div.content {
    width: calc(100% - #{$side-bar-width});
    float: right;
    padding: 40px 50px;
    padding-top: calc(50px + #{$nav-bar-height});
  }
}