$color-red: #C02C44;
$color-green: #2BC05D;
$color-blue: #50B4D8;
$color-yellow: #E5BE24;

$color-red-darker: #B52940;
$color-green-darker: #27B556;
$color-blue-darker: #4CABCE;
$color-yellow-darker: #DBB623;

$color-red-light: #E6ABB4;
$color-green-light: #A9E1BB;
$color-blue-light: #B9E1EF;
$color-yellow-light: #F5E5A7;