body[einu-flow="com.einutech.eem"][einu-theme="light"] {
  einu-table.datagrid {
    width: 100%;

    einu-table-header {
      color: #87909c;
      font-size: 12px;
      margin: 0;
      text-transform: uppercase;
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      einu-table-cell {
        vertical-align: middle;
        padding: 10px 5px;
        white-space: nowrap;
        font-weight: 700;
        color: #87909c;

        &.sortable {
          padding: 0;

          a {
            width: 100%;
            color: #87909c;
            display: inline-block;
            height: 100%;
            padding: 0;
            margin: 0;
            padding: 10px 5px;

            &.active {
              color: $color-red;
            }

            &:hover {
              padding: 10px 5px;
              margin: 0;
              border: 0;

              einu-icon {
                color: $color-red;
              }
            }
          }
        }
      }
    }

    einu-table-row {
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      einu-table-cell {
        vertical-align: middle;
        padding: 5px;

        &:first-of-type { width: 30px; }
        &:last-of-type { width: 100px; }

        img {
          width: 24px;
          display: block;

          &.icon {
            float: right;
          }
        }

        a.button {
          color: #87909c;

          &:hover {
            color: #87909c;
          }

          &.red,
          &.green,
          &.blue {
            color: white;

            &:hover {
              color: white;
            }
          }
        }

        einu-textblock {
          font-size: 12px;
        }
      }
    }
  }
}