body[einu-flow="com.einutech.eem"][einu-theme="light"] {
  einu-pagination {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: white;

    a {
      display: inline-block;
      float: left;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #87909c;
      font-size: 14px;
      font-weight: 700;

      &:hover,
      &:active {
        border-bottom: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        color: #87909c;
      }

      &.active {
        background-color: $color-blue;
        color: white;
      }
    }
  }
}