body[einu-flow="com.einutech.eem"] {
  einu-block.section {
    &.settings {
      einu-block {
        display: inline-block;
        float: left;
        padding: 0;

        &.side-menu {
          width: 260px;

          a {
            color: $color-blue;
            display: block;
            width: 100%;
            line-height: 30px;
            height: 30px;
            letter-spacing: 1px;
            font-size: 11px;

            einu-icon {
              font-size: 12px;
              line-height: 30px;
              width: 15px;
              text-align: center;
            }

            &:hover {
              color: $color-blue-darker;
              background-color: rgba(0, 0, 0, 0.05);
              border: 0;
            }

            &.blue {
              color: white;

              &:hover {
                background-color: $color-blue-darker;
              }
            }
          }
        }

        &.content {
          width: calc(100% - 260px);
          border-left: 1px solid rgba(0, 0, 0, 0.1);

          einu-section {
            einu-heading {
              einu-icon {
                transition: all .3s ease-in-out;
              }
            }

            form.einu-form {
              box-shadow: none;
              transition: all .3s ease-in-out;
              max-height: 0;
              padding: 0;
              overflow: hidden;
            }

            &.open {
              einu-heading {
                einu-icon {
                  transform: rotate(180deg);
                }
              }

              form.einu-form {
                display: block;
                max-height: 1000px;
                padding: 30px;
              }
            }
          }
        }
      }
    }
  }
}